<div class="container ">
  <h1>Lists</h1>
  <ul>
    <% @lists.each do |list| %>
      <li style="line-height="><%= link_to list.name, list_path(list.id)  %></li>
    <% end %>
  </ul>
  <%= link_to "Create new list", new_list_path, class: "btn btn-outline-primary" %>
</div>
